.seleccion-container {
  min-height: 100vh;
  background-color: #0d1117;
  color: white;
  font-family: "Poppins", sans-serif;
  padding-top: 50px;
}

.titulo {
  text-align: center;
  font-size: 2.5rem;
  color: #00e0c7;
  font-weight: 700;
}

.subtitulo {
  text-align: center;
  color: #9ca3af;
  margin-top: 20px;
  margin-bottom: 20px;
}

.indicadores {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 100px;
  align-items: center;
  background-color: #ffffff1c;
}

.badge {
  background-color: #4a4f57;
  padding: 12px 24px;
  border-radius: 9999px;
  color: white;
  font-weight: 500;
}

.badge span {
  color: black;
  background-color: #00e0c7;
  font-weight: 600;
  margin-right: 6px;
  padding: 3px;
  display: inline-block;
  border-radius: 45%;
  min-width: 20px;
  text-align: center;
}

.jugadores-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  justify-items: center;
  padding-top: 40px;
}

.card {
  background-color: #1c1f26;
  border-radius: 15px;
  padding: 20px;
  width: 280px;
  box-shadow: 0 0 10px rgba(0, 224, 199, 0.05);
  text-align: center;
  transition: all 0.3s ease;
  display: block;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 20px rgba(0, 224, 199, 0.15);
}

.card.seleccionado {
  border: 1px solid #00e0c7;
  background-color: rgba(0, 224, 199, 0.1);
}

.card img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  background-color: white;
}

.card h3 {
  margin: 5px 0;
}

.info {
  color: #9ca3af;
  font-size: 0.9rem;
}

.edad {
  color: #6b7280;
  font-size: 0.85rem;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.stats span {
  display: block;
  font-size: 1.3rem;
  font-weight: 700;
  color: #00e0c7;
}

.stats p {
  font-size: 0.75rem;
  color: #9ca3af;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.card-footer strong {
  color: #00e0c7;
}

.card-footer button {
  background:linear-gradient(to right, #0d3687, #2691f0);
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  padding: 5px 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.card-footer button:hover {
 background: 
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), /* Capa oscura */
    linear-gradient(to right, #0d3687, #2691f0); /* Tu degradado original */
}

.card-footer button:active {
  transform: scale(0.97);
}