/* --- MENÚ PRINCIPAL --- */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--azul-casi-negro);
  padding: 0px 25px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  font-family: var(--fuente-textos);
  color: white;
  height: 70px;
  min-height: 35px;

}

/* LOGO */
.menu__logo{
  display: flex;
  width: 30%;
  height: 100%;
  min-height : 50px;
  justify-content: center;
  align-content: center;
}
.logo_agus{
  width: 20%;
  min-width: 40px;
  height: 100%;
}
.logo_agus img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.texto_encabezado{
  width: 80%;
  height: 100%;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}
.texto_encabezado > h1 {
  font-family: var(--fuente-titulos);
  font-size: var(--lg);
  color: var(--aqua-celeste);
}

/* TABS DE NAVEGACIÓN */
.menu__tabs {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__tabs a {
  text-decoration: none;
  color: white;
  font-size: var(--md);
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

.menu__tabs a:hover {
  color: var(--azul-celeste-fuerte);
}

/* --- RESPONSIVIDAD --- */
@media (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .menu__tabs {
    flex-wrap: wrap;
    gap: 15px;
  }

  .menu__auth {
    align-self: flex-end;
  }
}
